@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Lora&family=Preahvihear&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Lora", serif;
  font-family: "Preahvihear", sans-serif;
  letter-spacing: 0.2rem;
  word-spacing: 9px;
  color: white;
  cursor: default;
  scroll-behavior: smooth;
}
.backgorund-home {
  background-color: rgb(17, 24, 39);
}
/* logo */
.logo {
  padding: 0px 10px 0px 10px;
  width: 150px;
  height: 30px;
}
/* Navbar style  */
.nav {
  background-color: rgb(17, 24, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 2px solid white;
}
.left-nav {
  font-size: 2rem;
}
.left-nav:hover {
  color: #b55ce2;
  cursor: pointer;
}
.links {
  margin-left: 20px;
  margin-right: 20px;
}
.links:hover {
  border-bottom: 4px solid blueviolet;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.navbar-links {
  display: flex;
  height: 20px;
}
.nav-btn {
  height: 20px;
  padding: 0 10px 0 10px;
  list-style: none;
  text-decoration: none;
  margin: 0px 10px 0 10px;
}
.navbtn-color {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: pink;
}
.menu-btn {
  display: none;
}
/* home/ left component */
.Home-component {
  width: 100%;
  display: flex;
}

.home-content {
  margin-top: 25px;
  width: 400px;
  font-size: 1.5rem;
}
.left-main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.heading {
  font-size: 3rem;
  color: #b55ce2;
}
.home-h1 {
  font-size: 1.5rem;
}
.btn {
  color: white;
  margin-top: 30px;
  padding: 6px;
  border-radius: 5px;
  background-color: #b55ce2;
  cursor: pointer;
  border: none;
}
.btn:active {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}
.btn-style {
  background-color: transparent;
}

/* Home/ right component  */
.right-main {
  width: 50vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle-container {
  position: absolute;
  width: 500px;
  height: 500px;
  margin: auto;
  animation: rotate-circle 24s linear infinite;
}

.star {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.star1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.star2 {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.star3 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.star4 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.fixed {
  position: absolute;
  height: 310px;
  width: 310px;
  border-radius: 50%;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* About page  */
.about-page {
  background: rgb(17, 24, 39);
  background: linear-gradient(
    180deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(218, 227, 229, 1) 100%
  );
}
.image {
  width: 300px;
  height: 300px;
}
.info {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.h1 {
  text-align: center;
}
.left-about {
  width: 50%;
  text-align: center;
}
.right-info-content {
  width: 50%;
  padding: 10px;
}
.margin {
  margin-bottom: 15px;
}
.address {
  color: black;
}

/* utils */
.color {
  color: #b55ce2;
}

/* skills */
.skill-component {
  background: rgb(218, 227, 229);
  background: linear-gradient(
    180deg,
    rgba(218, 227, 229, 1) 0%,
    rgba(181, 92, 226, 1) 100%
  );
  height: 600px;
}
.skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-flex {
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 81%;
  border: 2px solid white;
  border-radius: 20px;
  flex-wrap: wrap;
}
.skill-card {
  padding: 10px;
  text-align: center;
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  background: #b55ce2;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
h3 {
  font-size: 1.1rem;
  text-align: center;
}
.skill-h3 {
  font-size: 0.99rem;
  text-align: center;
}
.skills-img {
  height: 80px;
  width: 80px;
}

/* project */
.project-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.project-card {
  display: flex;
  width: 80%;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
}
.project-img {
  width: 30vw;
  height: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 70vw;
  padding: 10px;
}
.project-p {
  text-align: center;
  margin-bottom: 2px;
}
.project-h {
  color: blueviolet;
}
.project-link {
  cursor: pointer;
}

/* contact page  */
.contact-component {
  background-color: rgb(17, 24, 39);
  height: 600px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  height: 390px;
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}
.contact-section {
  flex: 1;
  padding: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 10px;
  color: black;
}
.right-section,
.left-section {
  width: 450px;
  height: 350px;
}
.contactimg-sec {
  height: 100%;
  width: 100%;
}
.submit-btn:hover {
  background-color: rgb(122, 137, 178);
  background-color: green;
}
.social-btns {
  text-align: center;
  margin: 0;
}


@media (max-width: 1309px) {
  /* Home page animation section */
  .fixed {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
  }
  .star {
    width: 50px;
    height: 50px;
  }
  .right-main {
    width: 40vw;
  }
  .circle-container {
    width: 380px;
    height: 380px;
  }
  .home-page {
    width: 30w;
    height: 700px;
    display: flex;
    cursor: default;
  }
}
@media (max-width: 912px) {
  /* Contact page */
  .left-section {
    display: none;
  }
  .right-section {
    background-color: rgb(184, 102, 226);
  }
  /* Navbar */
  .menu-btn {
    display: block;
  }
  .navbar-links {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 10px;
    height: 300px;
    width: 200px;
    z-index: 2;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
  }
  .nav-btn {
    z-index: 2;
    padding: 0 10px 0 10px;
    list-style: none;
    text-decoration: none;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  .navbtn-color {
    color: black;
  }
  /* Home page */
  .Home-component {
    flex-direction: column-reverse;
    height: 750px;
  }
  .left-main,
  .right-main {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 450px;
  }
  /* About page */
  .right-info-content {
    width: 80%;
    margin-top: 10px;
  }
  .info {
    flex-direction: column;
  }
  /* Skills page */
  .skill-component {
    height: 735px;
  }
  .skills-flex {
    height: 605px;
    gap: 3px;
  }
}
@media (max-width: 480px) {
  /* Skills page */
  .skill-component {
    height: 710px;
  }
  .skills-flex {
    border: none;
    gap: 3px;
    width: 100%;
  }
  .skills-page {
    margin-top: -5px;
  }
  /* Home page animation */
  .right-main {
    height: 400px;
  }
  .circle-container {
    width: 265px;
    height: 265px;
  }
  .star {
    height: 35px;
    width: 35px;
  }
  .fixed {
    height: 195px;
    width: 195px;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  /* Home page */
  .Home-component {
    height: 630px;
  }
  .left-main {
    width: 350px;
    height: 400px;
    padding: 10px;
    justify-content: flex-start;
  }
  .left-main-container {
    width: 345px;
    margin: 0;
  }
  .heading {
    font-size: 2rem;
  }
  .home-content {
    width: 350px;
    font-size: 1rem;
    margin: 0;
  }
  .info {
    margin: 5px;
  }
  /* Project Page */
  .project-component {
    height: 100%;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
  }
  .project-img {
    width: 80vw;
    height: 260px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}
